{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col">
    <div class="card mb-3">
      <div class="card-header">Host Information</div>
      <div class="card-body p-2">
        <dl class="mb-0">
          <dt>Host Name</dt>
          <dd>{{ system_identity.hostname }}</dd>
          <dt>Model</dt>
          <dd>{{ system_identity.model or "—"}}</dd>
          <dt>Serial</dt>
          <dd>{{ system_identity.serial or "—" }}</dd>
        </dl>
      </div>
    </div>
  </div>
</div>
{% endblock %}
